    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    header {
        background-position: center center;
        background-size: 100% 100%;
        height: 100vh;
        background-image: url(../img/slideshow-1.jpg);
    }
    
    @keyframes fadeInRight {
        0% {
            opacity: 0;
            transform: translateX(20px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    .ff {
        height: 100vh;
    }
    
    .arrow-buttom {
        top: 65px;
    }
    
    .arrow-top {
        top: -64px;
    }
    
    .arrow-top span {
        border: 2px solid;
        padding: 20px;
    }
    
    .arrow-buttom span {
        border: 2px solid;
        border-top: 0px;
        padding: 20px;
    }
    
    #home .carousel-control-prev {
        width: 2%;
    }
    
    .carousel-item {
        height: 100vh;
        min-height: 300px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        background-size: cover;
    }
    
    .carousel-caption {
        bottom: 220px;
    }
    
    .carousel-caption h2 {
        font-size: 80px;
        letter-spacing: 2px;
        font-family: poppins;
    }
    /* start nav*/
    
    .navbar-dark .navbar-nav .active>.nav-link {
        color: red;
    }
    
    .navbar-dark .navbar-nav .nav-link {
        color: white;
    }
    
    .sticky {
        background-color: black;
        position: fixed;
        top: 0;
        width: 100%;
        color: black;
    }
    /* start about*/
    
    #about h2 {
        font-size: 80px;
        color: #f1f1f1;
        font-weight: bold;
    }
    
    #about h3 {
        font-size: 40px;
        font-weight: bold;
    }
    
    .bord {
        width: 5%;
        height: 1px;
        background-color: black;
    }
    
    .tcolors {
        font-size: 18px;
        color: #999;
        margin-bottom: 70p
    }
    
    #about .tcolor {
        font-size: 14px;
        line-height: 1.75em;
        color: #666;
    }
    
    .prog1 {
        display: flex;
        width: 80%;
    }
    
    .prog2 {
        display: flex;
        width: 95%;
    }
    
    .progres div p {
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 20px;
    }
    
    .prog3 {
        display: flex;
        width: 85%;
    }
    
    .prog4 {
        display: flex;
        width: 70%;
    }
    
    .progress {
        height: 4px;
        margin-top: px;
    }
    /* end about*/p{
    color:  #666;
}
.adress{
    margin-top: 100px;
}
.adress p{
    max-width: 50%;
    margin: auto;
    margin-top: 40px;
    font-size: 18px;
   
}
.adress h2{
    position: relative;
}
.adress h2::after{
    content: "";
    position: absolute;
    background-color: #1a1a1a;
    width: 40px;
    height: 2px;
    top: 55px;
    left: 48%;
    
}
.item{
    overflow: hidden;
}
.layer{
    position: absolute;
    background-color:rgba(219, 41, 41, 0.8) ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s;
}
.item:hover .layer {
    opacity: 1;

}

.item:hover img{
    transition:all 0.5s; 
    transform: scale(1.2);
}
.layer i{
    margin-top: 60%;
    padding: 10px;
 
} 


/* --------------services----------- */

#services .services {
    padding-top: 30px;
}

#services .services .a {
    position: relative;
    top: 50px;
    opacity: 0.1;
    line-height: 38px;
    font-weight: 700;
    font-size: 70px;
}

#services .services h2 {
    margin-bottom: 20px;
    font-size: 38px;
    font-weight: 700;
    text-transform: capitalize;
}

#services.services p {
    padding: 20px;
}
#touch{  
    background-color: #fafafa;
    padding-top: 100px; 
    margin-bottom: 50px;
}
#touch .touch-text h2 { 
    font-size:80px ; 
    color: #f1f1f1;   
    font-weight: 700; 
    margin-bottom: 50px;
    }  
    
    #touch .touch-text h1{ 
        font-size: 40px;  
    font-weight: 800;    
     color: #282828; 
     line-height: 800;
    
    } 
 #touch .touch-text::after { 
    width: 40px;
    content: "";
    position: absolute;
    height: 1px;
    background-color: red;
    top: 100px;
    transition: all 1s; 
} 
#touch .touch-pra p{ 
    color: #999; 
    font-size: 18px; 
    
}  

.touch-topic i{ 
    float: left; 
    font-size: 40px; 
    color: #f25454; 
    line-height: 45px; 
    margin-right: 20px;
}
 

.touch-topic .touch-contact{ 
    margin-bottom: 2px; 
    padding-bottom: 7px; 
    position: relative ; 
    font-size: 12px; 
    margin-left: 15px; 
    
} 
.touch-contact h3{ 
    font-size: 18px; 
    transition: all 0.4s; 
    font-weight: 600;  
    margin-top: 3px; 
    transition: all .3s; 
    color: #282828;
}.touch-contact h3:hover{ 
color: #f25454;
} 
.touch-contact p{ 
    font-size: 14px; 
    color: #666;   

}  
/*------------*/ 
.information input{   
    padding: 14px; 
    margin-bottom: 29px;  
    padding-bottom: 12px;

}   
.information textarea{ 
margin-top: 20px;
}


.btn{ 
    background-color: #f25454; 
    color: #fff; 
    transition: all .3s; 
}   
.btn:hover{ 
    opacity: 0;  
    color: #f38383;

} 
.btn a{ 
    font-size: 17px; 
    font-weight: 600; 
}

.icons-list{ 
    border: 4px 6px solid red;
} 
  .form-control { 
    height: 40px;  
    margin-top: 20px;
} 
/*------------------------------------*/ 
.copy-bg{ 
    background-image: url("../img/dotted-map.png"); 
    background-position: center; 
    background-size: cover; 
    height: 60vh; 
    background-color: #282828;  
    bottom: 100px; 
    top: 20px;

}  
.chevron{ 
    position: relative; 
    background-color:rgba(185, 27, 27, 0.5); 
    margin-bottom:30px ; 
    bottom: 70px; 
    border: 6px 4px solid rgba(185, 27, 27, 0.5); 
    width: 40px; 
    height: 40px; 
    text-align: center; 
    margin: auto; 
    border-radius: 50%;
} 
.chevron .fas{ 
    color: #fff;
}  
.copy-items h4{ 
    font-size: 20px; 
    color: #fff;
} 
.copy-items .copy-text p ,a{ 
color: #999;  
font-weight: 600;
font-size: 14px;  
transition: all .3s; 
text-decoration: none;
} 
.copy-items .copy-text a:hover{  
    text-decoration: none;
color: #f25454;
}   
.copy-items .copy-text2 a {
color: #999;  
font-weight: 600;
font-size: 14px;  
transition: all .3s; 
text-decoration: none; 
list-style: none;
} 
.copy-items .copy-text2 a:hover{ 
    color: #f25454; 
    text-decoration: none;
}
.copy-items .copy-text2 .job{ 
    border: 1px solid #999;  
    border-radius: 2px;
   padding: 4px 6px; 
   margin-right: 2px; 
   margin-top: 20px; 
   transition:  all .3s;
} 
.copy-items .copy-text2 .job:hover{ 
    border-color: #f25454;
} 
@media (min-width: 768px) {  
    cop-items{ 
        color: black;
    }
 } 
 /*------------------------------*/  
 #Angora-end{ 
     background-color: #1a1a1a; 
     height: 15%;
 } 
 
 .copyright { 
  right: 50%;  
  margin-top:45px; 
  color: #999; 
  text-decoration: none;
 }  
 .copyright a{ 
     text-decoration: none; 
     color: #f1f1f1; 
     font-size: 14px;
 } 
 .copyright a:hover{ 
     color: #f25454;
 }
 .angora-copy { 
     margin-top: 45px; 
     font-size:14px; 
 
 }  

 .angora-copy a { 
     font-size: 16px; 
     padding-left: 15px; 
     color: #fff; 
     transition: all .3s;
 } 
 .angora-copy a:hover { 
     color: #f25454;
 }