    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    header {
        background-position: center center;
        background-size: 100% 100%;
        height: 100vh;
        background-image: url(../img/slideshow-1.jpg);
    }
    
    @keyframes fadeInRight {
        0% {
            opacity: 0;
            transform: translateX(20px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    .ff {
        height: 100vh;
    }
    
    .arrow-buttom {
        top: 65px;
    }
    
    .arrow-top {
        top: -64px;
    }
    
    .arrow-top span {
        border: 2px solid;
        padding: 20px;
    }
    
    .arrow-buttom span {
        border: 2px solid;
        border-top: 0px;
        padding: 20px;
    }
    
    #home .carousel-control-prev {
        width: 2%;
    }
    
    .carousel-item {
        height: 100vh;
        min-height: 300px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        background-size: cover;
    }
    
    .carousel-caption {
        bottom: 220px;
    }
    
    .carousel-caption h2 {
        font-size: 80px;
        letter-spacing: 2px;
        font-family: poppins;
    }
    /* start nav*/
    
    .navbar-dark .navbar-nav .active>.nav-link {
        color: red;
    }
    
    .navbar-dark .navbar-nav .nav-link {
        color: white;
    }
    
    .sticky {
        background-color: black;
        position: fixed;
        top: 0;
        width: 100%;
        color: black;
    }
    /* start about*/
    
    #about h2 {
        font-size: 80px;
        color: #f1f1f1;
        font-weight: bold;
    }
    
    #about h3 {
        font-size: 40px;
        font-weight: bold;
    }
    
    .bord {
        width: 5%;
        height: 1px;
        background-color: black;
    }
    
    .tcolors {
        font-size: 18px;
        color: #999;
        margin-bottom: 70p
    }
    
    #about .tcolor {
        font-size: 14px;
        line-height: 1.75em;
        color: #666;
    }
    
    .prog1 {
        display: flex;
        width: 80%;
    }
    
    .prog2 {
        display: flex;
        width: 95%;
    }
    
    .progres div p {
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 20px;
    }
    
    .prog3 {
        display: flex;
        width: 85%;
    }
    
    .prog4 {
        display: flex;
        width: 70%;
    }
    
    .progress {
        height: 4px;
        margin-top: px;
    }
    /* end about*/p{
    color:  #666;
}
.adress{
    margin-top: 100px;
}
.adress p{
    max-width: 50%;
    margin: auto;
    margin-top: 40px;
    font-size: 18px;
   
}
.adress h2{
    position: relative;
}
.adress h2::after{
    content: "";
    position: absolute;
    background-color: #1a1a1a;
    width: 40px;
    height: 2px;
    top: 55px;
    left: 48%;
    
}
.item{
    overflow: hidden;
}
.layer{
    position: absolute;
    background-color:rgba(219, 41, 41, 0.8) ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s;
}
.item:hover .layer {
    opacity: 1;

}

.item:hover img{
    transition:all 0.5s; 
    transform: scale(1.2);
}
.layer i{
    margin-top: 60%;
    padding: 10px;
 
} 


/* --------------services----------- */

#services .services {
    padding-top: 30px;
}

#services .services .a {
    position: relative;
    top: 50px;
    opacity: 0.1;
    line-height: 38px;
    font-weight: 700;
    font-size: 70px;
}

#services .services h2 {
    margin-bottom: 20px;
    font-size: 38px;
    font-weight: 700;
    text-transform: capitalize;
}

#services.services p {
    padding: 20px;
}
